<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<title>SDE</title>
	<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<header>
		<nav>
			<div class="nav-wrapper">
				<a href="#" class="brand-logo">Ocorrência</a>
				<ul id="nav-mobile" class="right hide-on-med-and-down">
					<li><a href="/ocorrencias" class="waves-effect waves-light btn"><i class="material-icons left">list</i>Lista de Ocorrências</a></li>
				</ul>
			</div>
		</nav>
	</header>
		<div th:each="ocorrencia : ${ocorrencia}" class="container detalhesOcorrencia">
			<h5>Detalhes da Ocorrência</h5>
			<div class="row">
				<p>Estudante: <span th:text="${ocorrencia.Nome}"></span></p>
				<p>Matricula: <span th:text="${ocorrencia.Matricula}"></span></p>
				<p>Curso: <span th:text="${ocorrencia.Curso}"></span></p>
				<p>Entrada: <span th:text="${ocorrencia.Entrada}"></span></p>
				<p>Data: <span th:text="${ocorrencia.Data}"></span></p>
				<p>Local: <span th:text="${ocorrencia.local}"></span></p>
				<p>Descrição: <span th:text="${ocorrencia.Descricao}"></span></p>
				<p>Info: <span th:text="${ocorrencia.Info}"></span></p>
			</div>
		</div>
			<th:block th:include="mensagemValidacao"></th:block>
		<div class="container formProfessor">
			<form method="post" th:object="${professor}">
				Cod:<input type="text" value="" name="cod" />
				Nome:<input type="text" value="" name="nomeProfessor" placeholder="Nome Completo"/>
				<button class="waves-effect waves-light btn" type="submit">Cadastrar Professor</button>
			</form>
		</div>
		<table class="container tabelaProfessor">
			<thead>
				<tr>
					<th>Cod Professor</th>
					<th>Nome Professor</th>
					<th>Deletar</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="professor : ${professores}">
					<td><span th:text="${professor.cod}"></span></td>
					<td><span th:text="${professor.nomeProfessor}"></span></td>
					<td><a class="waves-effect waves-teal btn-flat" th:href="${(#mvc.url('OC#deletarProfessor').arg(0, professor.cod)).build()}"><i class="material-icons">delete_forever</i></a></td>
				</tr>
			</tbody>
		</table>
		
			
	<script type="text/javascript" src="materialize/js/materialize.min.js"></script>	
</body>

</html>